data/


# Virtual environment directories
venv/
env/

# Bytecode and caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution/build files
build/
dist/
*.egg-info/
*.egg
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/


